@use 'core-components' as core;

// .pdt-edit-person-modal logic is in _attendee_edit_person.scss

.pdt-admin-service {

    button {
        background-color: #e11d48;
        border: 1px solid #e11d48;
        border-radius: 6px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        color: #fff;
        cursor: pointer;
    }

    background-color: #fff;
    border: 3px solid #e11d48;
    border-radius: 10px;

    width: min(95vw, 700px);
    max-height: 85vh;
    overflow-y: auto;

    h2 {
        padding-left: 8px;
    }

    .pdt-section-divider {
        width: auto;
        margin-left: 8px;
        margin-right: 8px;
        background-color: #ffd1d1;
    }

    table {
        width: 100%;
        padding: 12px;
        text-align: center;
    }

    input,
    select {
        width: 120px;
        box-sizing: border-box;
    }

    .pdt-submit {
        @include core.actions-right;
        margin: 8px;
    }
}