.pdt-admin-service {
    .pdt-section-divider {
        width: 100%;
        height: 1px;
        margin-top: 8px;
        background-color: #000000;
    }

    .pdt-submit {
        text-align: right;
    }
}