.pdt-session-attendees {
    .pdt-section-divider {
        width: 100%;
        height: 1px;
        margin-top: 8px;
        background-color: #000000;
    }

    .pdt-search {

    }
    .pdt-submit {
        text-align: right;
    }
}