@use 'core-layout';
@use 'core-components' as core;

button {
    background-color: #e11d48;
    border: 1px solid #e11d48;
    border-radius: 6px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
    cursor: pointer;
}


.pdt-modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.45);
}

.pdt-modal__panel {
    width: 700px;
    max-width: 100%;
    height: 800px;
    max-height: 100%;
    position: relative;
    border: 1px solid black;
    background-color: #fff;
    --mpx: 16px;
    --mpy: 8px;
    padding: var(--mpy) var(--mpx);
    box-sizing: border-box;
    /*key: vertical, horizonal*/



    h2 {
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .pdt-contact p {
        margin: 8px 24px;
        /* margin-left: 16px; margin-top: 8px; */
    }

    .pdt-summary p {
        margin: 0px 0px;
    }

    .pdt-range {
        --x: 25px;
        width: calc(100% - (2 * var(--x)));
        box-sizing: border-box;
        margin: 4px var(--x);

    }

    .pdt-tabs {
        height: 40px;
    }

    .pdt-tabs button {
        margin-top: 4px;
        background-color: inherit;
        float: left;
        color: black;
        /* border: none ; */
        outline: none;
        height: inherit;
        transition: 0.3s;
    }

    .pdt-tabs button:hover {
        background-color: #ff1010;
    }

    .pdt-tabs button.active {
        background-color: #ccc;
    }

    .pdt-table-wrap {

        margin-top: 8px;
        height: calc(600px - var(--mpy) - 44px);
        /* 29px is the height of the button. */
        overflow-x: auto;
        overflow-y: auto;


    }

    .pdt-tab-content {
        display: none;
        width: 100%;
        box-sizing: border-box;
    }

    .pdt-table-wrap table {
        width: 100%;
        box-sizing: border-box;
        text-align: center;

        border-collapse: separate;
        border-spacing: 5px 10px;


    }


    .pdt-close {
        position: absolute;
        left: var(--mpx);
        bottom: var(--mpy);
    }
}
