@use 'core-layout';
@use 'core-components' as core;


// styling for no session.. is hardcoded in html
.pdt-main {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 700px;
    max-width: 95vw;

    .pdt-section-divider {
        width: auto;
        margin-left: 8px;
        margin-right: 8px;
        background-color: #f47b7b;
    }

    h2,
    h3 {
        color: #e11d48;
    }

    h2 {
        margin: 0px;
        // padding: 0px ;
    }


    .pdt-contact {
        margin-left: 15px;

        p {
            margin: 0;
        }
    }

    .pdt-history-table-wrap {
        max-height: 320px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .pdt-history-table {
        min-width: 1100px;
        border-collapse: separate;
        border-spacing: 0;
    }

    .pdt-history-table th,
    .pdt-history-table td {
        padding: 8px 8px;
        text-align: center;
    }

    .pdt-history-table th {
        position: sticky;
        top: 0;
        
        z-index: 1;
        text-align: center;
    }

    .pdt-admin-service-table-wrap {
        height: 140px;
        overflow-y: auto;
    }

    .pdt-admin-service-table {
        width: 100%;
        table-layout: fixed;

        thead { border-bottom: 0px solid #fff;}
    }

    .pdt-admin-service-table th,
    .pdt-admin-service-table td {
        width: 25%;
        padding: 8px 12px;
        text-align: center;
    }

    
    .pdt-admin-service-table th {
        position: sticky;
        top: 0;
        z-index: 1;
        
        
    }

    .pdt-submit {
        @include core.actions-right;
        margin-top: 8px ;
    }

    .pdt-flags {
        text-align: left;
        padding: 2px 8px;
        border-bottom: 1px solid black;
    }

    .pdt-comment {

        margin-bottom: 15px;
        text-align: left;
        padding: 2px 8px;
    }


}
