@use "core-layout";
@use "core-components" as core;
@use "session-modal";
@use "session-attendees" ;

.pdt-main {
    .pdt-session-table-wrapper {
        overflow-x: auto;
    }

    .pdt-session-table {

        th,
        td {
            padding: 8px 12px;
        }
    }

    .pdt-details-button {
        @include core.inline-button;
        white-space: nowrap;
    }

    .pdt-details-panel {
        background-color: aqua;
        text-align: right;
    }

    .pdt-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    .pdt-details-people {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .pdt-person-card {
        position: relative;
        width: 210px;
        margin: 2px;
        padding: 4px 28px 4px 4px;
        border: 2px solid #000;
        border-radius: 6px;
        flex: 0 0 220px;
    }

    .pdt-person-card__icon {
        position: absolute;
        top: 6px;
        right: 6px;
        // border: 0;
        // background: transparent;
        // padding: 0;
        // line-height: 1;
        cursor: pointer;
    }
}
